<form action="javascript:void(0);" class="flex-container flexFlowColumn">
    <h3 class="neutral_warning" data-i18n="This will delete all your settings and data. There will be no undo button. Make sure you have a backup before proceeding.">
        This will delete all your settings and data. There will be no undo button.
        Make sure you have a backup before proceeding.
    </h3>
    <hr>
    <div data-i18n="Enter your username to confirm this destructive action.">
        Enter your username to confirm this destructive action.
    </div>
    <br>
    <div class="resetUsernameBlock">
        <label data-i18n="Username:" for="resetUsername">Username:</label>
        <input id="resetUsername" type="text" name="username" class="text_pole" autocomplete="username" required>
    </div>
</form>
